:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --green: #00ff00;
    --pink: #ff0066;
    --gray-1: #eee;
    --gray-2: #ddd;
    --gray-3: #ccc;
    --mg-m: 20px;
    --mg-s: 10px;
    --pd-l: 20px;
    --pd-m: 10px;
    --pd-s: 5px;
    --r: 1rem;
}

body{
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header-div, .lectures-div, .books-div, .footer-div{
    margin: var(--mg-m);
    padding: var(--pd-m) var(--pd-s);
    overflow: hidden;
}

.header-div {
    background:linear-gradient(0deg, rgba(105, 170, 255, 0.4), rgba(105, 170, 255, 0.4)), url("./assets/Header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: calc(100% / 3 - 2 * var(--mg-m));
    color: white;
    text-align: center;
}

.header-div > h1, .header-div > p {
    animation-duration: 3s;
    animation-name: slidein;
    text-transform: uppercase;
}

.header-div > h1 {
    letter-spacing: 1rem;
}

.header-div > button {
    animation-duration: 5s;
    animation-name: fadeIn;
}

.bbutton {
    background-color: var(--gray-2);
    border: 1px var(--gray-3) solid;
    color: var(--pink);
    padding: var(--pd-m) var(--pd-l);
    text-transform: uppercase;
    border-radius: var(--r);
}

.bbutton:hover {
    background-color: var(--pink);
    color: var(--gray-2);
    cursor: pointer;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.lectures-div {
    background:linear-gradient(0deg, rgba(105, 170, 255, 0.4), rgba(105, 170, 255, 0.4)), url("./assets/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lectures-div > div {
    float: left;
    width: calc(100% / 4 - 2 * var(--mg-s));
    margin: var(--mg-s);
    padding: var(--pd-s);
    background-color: rgba(180, 225, 220, 0.755);

    border-radius: var(--r);
    box-sizing: border-box;
    text-align: center;

    transition: 500ms linear; 
}

.lectures-div > div:hover {
    transform: scale(1.05);
}

.lectures-div > div > img {
    max-height: 150px;
    max-width: 80%;
    opacity: 0.6;
}

.books-div {
    text-align: center;
}

.books-div > h2 {
    font-weight: bolder;
    background: -webkit-linear-gradient(#0004f7, #6170fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.books-div > h2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s infinite;
    mask-image: none;
    mask-size: none;
}

.book-card {
    float: left;
    width: calc(100% / 3 - 2 * var(--mg-s));
    min-height: 400px;
    margin: var(--mg-s);
    perspective: 1000px;
    position: relative;
}

.book-card-inner {
    width: 100%;
    height: 100%;
    max-width: 350px;
    left: max(calc((100% - 350px) / 2), 0px);
    transition: transform 0.3s;
    transform-style: preserve-3d;
    position: absolute;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}

.book-card:hover .book-card-inner {
    transform: rotateY( 180deg ) ;
    transition: transform 0.3s;
}

.book-card-front, .book-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.book-card-back {
    padding: 30% 0;
    transform: rotateY( 180deg );
}

.book-card-front > img {
    height: 200px;
    width: 100%;
    max-width: 350px;
}

.text-in-image {
    position: absolute;
    bottom: 200px;
    right: 16px;
}

.text-in-image > h3 {
    text-align: right;
    padding: 2px 4px;
    margin: 2px 0;
    margin-left: auto;
    background-color: rgba(10, 200, 10, 0.8);
    color: #fff;
    font-weight: 300;
    width: fit-content;
}

/* effect-shine */
/* @-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
} */

.footer-div {
    background-color: #333;
    padding: calc(2 * var(--pd-l)) var(--pd-m);
}

.footer-links, .footer-about {
    float: left;
    width: calc(100% / 2 - 2 * var(--mg-s));
    margin: var(--mg-s);

    color: var(--gray-1);
    text-align: center;
    text-transform: uppercase;
    font-size: small;

}

.footer-links > hr, .footer-about > hr {
    width: 90%;
    height: 0;
    color: var(--gray-3);
    background-color: var(--gray-3);
    border: 1px solid rgba(0,0,0,.6);
}

.footer-links > a {
    display: inline-block;
    padding: var(--pd-s);
    color: var(--gray-1);
    text-decoration: none;
}

.footer-links > a:hover {
    color: var(--pink);
    cursor: pointer;
}

.footer-about > p{
    margin: 0;
}